.profile {
    margin-top: -5rem;
    
    @include breakpoint($tablet-bp) {
        margin: -1.25rem;
        position: relative;
        
        border-bottom: 2px solid #1C1C1C;
    }
}

.profile__avatar {
    display: block;
    width: 10rem;
    height: 10rem;
    margin: 0 auto 2rem;
    position: relative;
    
    border: 2px solid $white;
    box-shadow: 0 7px 20px rgba($black, .25);
    border-radius: 50%;
    
    @include breakpoint($tablet-bp) {
        width: 7rem;
        height: 7rem;
        
        margin-left: 0.6rem;
        position: absolute;
        left: 0;
    }
}

.profile__header {
    margin-bottom: 2rem;
    text-align: center;
    
    @include breakpoint($tablet-bp) {
        padding-top: 1.5rem;
        padding-left: 9rem;
        text-align: left;
    }
}

.profile__name {
    font-size: 1.8rem;
    
    @include breakpoint($tablet-bp) {
        font-size: 1.6rem;
    }
}

.profile__prof {
    font-size: 1.4rem;
    font-weight: 300;
    color: #DEDEDE;
    
    @include breakpoint($tablet-bp) {
        font-size: 1.3rem;
    }
}

.prfile__text {
    padding: 3rem 0;
    margin: 5rem 0;
    font-size: 1.3rem;
    text-align: center;
    
    border-top: 1px solid 
    #1C1C1C;
    border-bottom: 1px solid 
    #1C1C1C;
    
    @include breakpoint($tablet-bp) {
        display: none;
    }
}